.All_posts_1 {
  position: relative;

  font-size: 10px;
  color: black;
}

.ul1 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightblue;
}
.All_posts_button {
  cursor: pointer;
  border-radius: 3px;
  padding: 5px;
  font-size: 10px;
}
